*{
	margin: 0;
	padding: 0;
}

body{
	overflow-x: hidden;
	background-color: #ca9ed3;
}

/* css header */
.header-logo {
    text-align: center;
    color: #ae00ff;
    font-size: 20pt;
    margin-top: 20px;
    margin-bottom: 20px;
} 
/* ini css Navbar */
nav{
	display: flex;
	background-color: #2c2c2c;
	justify-content: space-around;
	height: 50px;
	align-items: center;
	color: aliceblue;
}

nav .logo{
	font-family: 'Yantramanav', sans-serif;
	font-size: 25px;
	letter-spacing: 2px;
}

nav .logo strong{
	color: #ae00ff;
}

nav ul{
	display: flex;
	list-style: none;
	width: 40%;
	justify-content: space-evenly;
}

nav ul li a{
	color: aliceblue;
	text-decoration: none;
	font-size: 0.7em;
}

nav ul li a:hover{
	color: #ae00ff;
}

/* ini css button */
.button a {
    font-family: 'Yantramanav', sans-serif;
    font-size: 15px;
    background: #ae00ff;
    color: white;
    border-radius: 5px;
    padding: 12px 20px;
    margin-top: 10px;
}

.button a:hover {
    opacity:0.9;
}


/* footer */
.footer{
	width: auto;
	text-align: center;
	background: #000000;
	padding: 10px 0;
	
}

.footer a{
	color: #fff;
}